/*.painel-container {   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
}*/

.painel-container {
    width: 100vw;
    min-height: 100vh;
}